
.wrapper {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
	background-color: #BBB;
}

.header {
	z-index: 1000;
	position: fixed;
	width: 100%;
	text-align: center;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(1,1,1,0) 1%, rgba(52,89,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(1,1,1,0)), color-stop(100%,rgba(52,89,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 1%,rgba(52,89,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 1%,rgba(52,89,60,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 1%,rgba(52,89,60,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 1%,rgba(52,89,60,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#34593c',GradientType=0 ); /* IE6-9 */
	background-color: #469045;

	color: #FFF;
	padding: 0.8rem 0rem;
	font-size: 1.4rem;
	border-bottom: 0px solid #FFF;
}

.page {
	width: 86%;
	padding: 0 7%;
	position: absolute;
}
.content {
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.content h1 {
	text-align: center;
	color: #FFF;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	font-size: 2.5rem;
	padding-bottom: 1rem;
}

.box {
	background-color: rgba(138, 130, 130, 0.21);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#description {
	padding: 10px;
	line-height: 1.5rem;
}

button {
	font-size: 1.4rem;
	padding: 0.5rem 0rem;
	width: 100%;
	margin-top:10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #CCC;
} 

.green_btn {
	font-size: 1.4rem;
	padding: 0.5rem 0rem;
	width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #469045;
	color:#FFF;
} 

}
#to_login_btn {
	margin-top: 1.5rem;
}

#intro {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 0%;
}
#login {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 100%;

}
#signup {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 100%;
}
#register {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 100%;
}
#report {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 100%;
}
#all {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 100%;
}
#user {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 100%;
}
#contact {
	background-color: rgb(247, 243, 217);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.4s ease-in-out; /** Firefox **/
	-o-transition: all 0.4s ease-in-out; /** Opera **/
	left: 100%;
}
#menu {
	z-index: 1000;
	position: relative;
	background-color: #888;
	top: 3rem;
	left: 0;
	width: 100%;
	height: 3.6rem;
	display: none;
}

.menu_item {
	position: absolute;
	width: 25%;
	background-color: #FFF;
	border: 0px;
	padding: 1.2rem 0rem;
	font-size: 1.2rem;
	text-align: center;
	cursor: pointer;
}
.menu_item_tab {
	position: absolute;
	width: 25%;
	height: 0.3rem;
	background-color: rgba(52,89,60,1);
	border: 0px;
	bottom: 0;
	left: 0;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.25s ease-in-out; /** Firefox **/
	-o-transition: all 0.25s ease-in-out; /** Opera **/
}

.form {
	padding: 8% 10%;
}
.logo {
	width: 100%;
	margin: 0px 0px 8px 0px;
}
.handwrite {
	width: 40%;
	height: 40%;
	margin: 3% 30%;	
}
#userdata_img {
	width: 90%;
	height: 90%;
	margin: 3% 3% 3% 6%;
}
.form input {
	border: 1px #CCC groove;
	width: 92%;
	padding: 2% 4%;
	font-size: 1.3rem;
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	font-family: '微軟正黑體', Helvetica;
	margin: 0.2rem 0;
}
.form textarea {
	border: 1px #CCC groove;
	width: 92%;
	padding: 2% 4%;
	font-size: 1.3rem;
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	font-family: '微軟正黑體', Helvetica;
	margin: 0.2rem 0;
	height: 10rem;
}
.form button {
	margin-top: 1rem;
}

.report_item {
	width: 100%;
	height: 5rem;
	margin: 0.2rem 0;
	background-color: #777;
	border-radius: 0.25rem;
}

.msg {
	color: #FFF;
	padding: 1rem 1.3rem;
	margin-top: 0.5rem;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	font-family: '微軟正黑體';
	font-size: 1.3rem;
	background-color:rgba(181, 49, 49, 1);
	/*box-shadow: 0 0 0 1px #dbb1b1 inset,0 1px 2px 0 rgba(0,0,0,.05);*/
	display: none;
}
select {
	-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	background: #f8f8f8;
	color:#888;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	border: 1px #CCC groove;
	width: 100%;
	padding: 2% 3.7%;
	font-size: 1.3rem;
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	font-family: '微軟正黑體', Helvetica;
	margin: 0.2rem 0;
}


