
.wrapper
  font-family: "微軟正黑體"

#header
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  background-color: #716b52

#header .item
  font-size: 1.2rem

#cover
  background-color: #f9d510
  color: #fff

.first-section
  padding-top: 18%
  padding-bottom: 18%

#title
  font-size: 3rem

#latest-report
  padding-top: 4rem
  padding-bottom: 4rem

.report-img
  width: 8rem
  height: 6rem

.report-img img
  width: 100%
