
.wrapper
  font-family: "儷黑 Pro", "LiHei Pro", "微軟正黑體", "新細明體", "sans-serif";
#header
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  background-color: #009A93

#header .item
  font-size: 1rem

#cover
  background-image: url(../res/cover.svg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: #fff

#title
  font-size: 300%

#subtitle
  font-size: 600%
  padding-top: 1.5%

#sub-2
  font-size: 250%
  padding-top:1.5%

.first-section
  padding-top: 15%
  padding-bottom: 17%

.first-section .button
  margin-top: 3%
  padding: 1.5rem 2rem
#latest-report
  padding-top: 4rem
  padding-bottom: 4rem

.report-img
  width: 8rem
  height: 6rem

.report-img img
  width: 100%

#about-us
  background-color: #f9d510
  color: #fff
  padding-top: 4rem
  padding-bottom: 4rem 
