extends main.jade

block main
  .wrapper.pusher

    .container-top
      .vh5.title-line.our-centered 關於「立就拍」
      .vh3.title-line.our-centered 不是台南市官方的違規停車檢舉網站
      .vh4.title-line 台南是好地方，但...
      .vh3.title-line &nbsp;&nbsp;&nbsp;&nbsp;台南市的道路已經非常狹小，但違規停車的情況卻屢見不鮮。違規停車的結果可能造成機車因閃避違停的車輛而與快車道之汽車爭道而容易發生車禍。另外火災或特殊災難發生時，救難車可能因路邊的違規停車而受阻，而錯過黃金搶救時間。台南市警察局雖然已經有違規停車檢舉的網站 (<a href='http://ppt.cc/@aZh' target='_blank'>http://ppt.cc/@aZh</a>)，但其實非常難以使用，原因如下：
      .vh3.title-line 1. 檢舉照片需有時間戳印
      .vh2-5.title-line 檢舉的照片需要有時間戳印，警察局在審核上才會立案開始處裡，然而現在大部分手機內建的照相機並無時間戳記的功能 (是有 app 可以不過需要另外下載)，如果照片還需要後製可能就無法達到即時的檢舉效果。
      .vh3.title-line 2. 檢舉成功率不高
      .vh2-5.title-line 根據檢舉的經驗發現，檢舉的成功率通常不高，有很大的原因是檢舉者疏忽了還有檢舉時的拍照角度也是關鍵，檢舉新手的檢舉成功率不高時常會被退件，我們希望建立一個檢舉違規停車第一次就上手的檢舉平台，引導檢舉人拍出正確的違規照片，並且就可以透過手機即時性的檢舉，自動化的將檢舉資料送至警察局。

//- vi:et:nowrap:sw=2:ts=2 
