doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='about.css')
    link(rel="shortcut icon" href="res/favicon.ico")
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item(href='about.html') 關於
          a.item(href='contact.html') 聯絡我們

       .ui.center.aligned.grid#page-head.cover
         .forteen.wide.column
           #title We are a online report platform.
           #sub-title 就是要做別人不敢做的
           i.big.chevron.down.icon#down-icon
       .ui.page.center.aligned.grid#feature1
          h1 無懼的心

      
    script(src="app.js")
    script(src="about.js")
