extends main.jade

block main
  .wrapper.pusher

    .container-top
      .vh5.title-line.our-centered 關於「立就拍」
      .vh3.title-line.our-centered 不是台南市官方的違規停車檢舉網站

      .vh3.title-line &nbsp;&nbsp;「立就拍」是由一群熱血的大學生所開發的違規停車檢舉服務平台，目的是提供市民一個更好的方式來檢舉違規停車。台南市警察局其實已經有個違規停車檢舉的網站 (<a href='http://ppt.cc/@aZh' target='_blank'>http://ppt.cc/@aZh</a>) ，但使用不易，無法非常簡便的透過手機達到即時的檢舉，且欠缺親和的檢舉資訊與經驗統整，因此實質檢舉的成功率並不高。
      .vh3.title-line &nbsp;&nbsp;為此，我們希望建立一個「第一次檢舉就上手」的檢舉平台「立就拍」，讓有心想要檢舉違規停車的民眾可以更方便的檢舉，同時提高檢舉資料的完整度，讓檢舉不再是曇花一現，一方面讓民眾體認警慎檢舉的必要，另一方面對於警方而言，能夠過濾一些品質過低的檢舉，減少審理案件的成本。

      .ui.divider

      .vh5.title-line.our-centered 輕而易舉

      .vh4.title-line 照片時間戳印
      .vh3.title-line 檢舉的照片需要有時間戳印，警察局才會受審處理，然而現在大部分手機內建的照相機並無時間戳記的功能，如果照片還需要後製可能就無法達到即時的檢舉效果。「立就拍」將貼心的將每一張檢舉照片自動加上時間戳印。

      .vh4.title-line 檢舉仲介者
      .vh3.title-line 「立就拍」是檢舉者與警方之間檢舉的仲介者，「立就拍」提供良好的使用者介面，並以「立就拍」的名義將檢舉資料代為送件至警察局，檢舉者的個資將不會洩漏出去，保護檢舉人避免不必要的麻煩。

      .vh4.title-line 追蹤檢舉進度
      .vh3.title-line 透過「立就拍」，可以管理自己的檢舉紀錄，並且追蹤進度，檢舉不再只是空包彈，清楚掌握每一筆檢舉的結果。另外檢舉者亦可公開分享檢舉結果，提供其他檢舉者檢舉成功或失敗的範例參考。

      .ui.divider

      .vh5.title-line.our-centered 擁抱自由
      .vh3.title-line 「立就拍」是一個開放原始碼 (open source) 軟體專案，任何有志想要讓「立就拍」變得更好的夥伴們歡迎貢獻。
        a(href='https://github.com/wonderchang/lijopie' target='_blank')
          i.icon.github.black
          | Github

//- vi:et:nowrap:sw=2:ts=2 
