doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='about.css')
    link(rel="shortcut icon" href="res/favicon.ico")
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item(href='about.html') 關於

      .ui.center.aligned.grid#page-head.cover
        .forteen.wide.column
          h1#titlee We are a online report platform.
          #sub-title 就是要做別人不敢做的
          p 滑動捲軸看更多關於我們&功能介紹
          i.big.chevron.down.icon#down-icon

      .ui.center.aligned.grid.feature-1
        img(src="res/cube.png")#pic1
        h1 Face the problem, then solve it.
        p 面對違規停車，我們應該嘗試解決它。
      .ui.divider

      .ui.center.aligned.grid.feature-2
        img(src="res/cross-plat.png")#pic2
        h1 Cross-platform, no limitations.
        p 跨越所有裝置平台，操作流暢無極限
      .ui.divider
 
      .ui.center.aligned.grid.feature-3
        img(src="res/apple.png")#pic3
        h1 Make everything simple.
        p 將繁瑣的步驟最簡化，第一次檢舉就上手
      .ui.divider

      .ui.center.aligned.grid.feature-4
        img(src="res/rabbit.png")#pic4
        h1 Totally under control.
        p 靈活追蹤報案狀態，讓你不再一無所知 
      .ui.divider
        
      .ui.center.aligned.grid.feature-5
        img(src="res/award.png")#pic5
        h1 We prepare a surprise for you... 
        p 隨時都有神秘驚喜要給你，因為這樣的勇氣值得鼓勵!
      .ui.divider

    script(src="app.js")
    script(src="about.js")
