
#page-head
  background-image: url(res/aboutus.svg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: #fff
  font-weight: bold 

#title
 margin-top: 15rem
 margin-bottom: 2rem
 font-size: 9vh
 word-spacing: 0.1px
 line-height: 65px
