extends main.jade

block main
  .wrapper.pusher

    .container-top
      .vh5.title-line.our-centered 關於「立就拍」
      .vh3.title-line.our-centered 不是台南市官方的違規停車檢舉網站

      .vh3.title-line &nbsp;&nbsp;「立就拍」是由一群熱血的大學生所開發的違規停車檢舉服務平台，目的是提供市民一個更好的方式來檢舉違規停車。台南市警察局其實已經有個違規停車檢舉的網站 (<a href='http://ppt.cc/@aZh' target='_blank'>http://ppt.cc/@aZh</a>) ，但使用不易，無法非常簡便的透過手機達到即時的檢舉，且欠缺親和的檢舉資訊與經驗統整，因此實質檢舉的成功率並不高。
      .vh3.title-line &nbsp;&nbsp;為此，我們希望建立一個能夠「第一次檢舉就上手」的檢舉平台「立就拍」，讓有心想要檢舉違規停車的民眾可以更方便的檢舉，同時提高檢舉資料的完整度，讓檢舉不再是曇花一現，一方面讓民眾體認警慎檢舉的必要，另一方面對於警方而言，能夠過濾一些品質過低的檢舉，減少審理案件的成本。

      .vh4.title-line 檢舉輕而易舉
      .vh3.title-line 照片時間戳印
      .vh2-5.title-line 檢舉的照片需要有時間戳印，警察局才會受審處理，然而現在大部分手機內建的照相機並無時間戳記的功能 (是有 app 可以不過需要另外下載)，如果照片還需要後製可能就無法達到即時的檢舉效果。「立就拍」將貼心的將每一張檢舉照片自動加上時間戳印。
      .vh3.title-line 檢舉仲介者
      .vh2-5.title-line 檢舉的照片需要有時間戳印，警察局才會受審處理，然而現在大部分手機內建的照相機並無時間戳記的功能 (是有 app 可以不過需要另外下載)，如果照片還需要後製可能就無法達到即時的檢舉效果。「立就拍」將貼心的將每一張檢舉照片自動加上時間戳印。
      .vh3.title-line 追蹤檢舉進度
      .vh2-5.title-line 檢舉的照片需要有時間戳印，警察局才會受審處理，然而現在大部分手機內建的照相機並無時間戳記的功能 (是有 app 可以不過需要另外下載)，如果照片還需要後製可能就無法達到即時的檢舉效果。「立就拍」將貼心的將每一張檢舉照片自動加上時間戳印。

      .vh4.title-line 開源模式
      a(href='https://github.com/wonderchang/lijopie' target='_blank')
        i.icon.github.black
        | Github

//- vi:et:nowrap:sw=2:ts=2 
