
#page-head
  background-image: url(res/aboutus.svg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: #fff
  font-weight: bold 

#titlee
  margin-top: 14%
  font-size: 7rem
  word-spacing: 0.1px

#sub-title 
  font-size: 5rem
  margin-top: 2%

.cover p
  margin-top: 10%
  
#down-icon 
  margin-bottom: 3%

.feature-1 img
  width: 33%
  margin-top: 10%

.feature-1 h1
  font-size: 6rem
  line-height: 8rem

.feature-1 p
  font-size: 3rem
  margin-bottom: 20%

.feature-2 img
  width: 100%
  margin-top: 17%
  margin-left: 1rem

.feature-2 h1 
  font-size: 6rem
  line-height: 8rem

.feature-2 p
  font-size: 3rem
  margin-bottom: 20%

.feature-3 img
  width: 28%
  margin-top: 17%

.feature-3 h1 
  font-size: 6rem
  line-height: 8rem

.feature-3 p
  font-size: 3rem
  margin-bottom: 20%

.feature-4 img
  width: 28%
  margin-top: 17%

.feature-4 h1 
  font-size: 6rem
  line-height: 8rem

.feature-4 p
  font-size: 3rem
  margin-bottom: 20%
  
.feature-5 img
  width: 32%
  margin-top: 17%

.feature-5 h1 
  font-size: 6rem
  line-height: 8rem

.feature-5 p
  font-size: 3rem
  margin-bottom: 20%
