.wrapper
  font-family: "儷黑 Pro", "LiHei Pro", "微軟正黑體", "新細明體", "sans-serif";

#header
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  background-color: #009A93

#header .item
  font-size: 1rem

#title_logo
  padding: 2px 5%

#title_logo img
  height: 38px

.cover
  background-image: url(res/cover.svg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: #fff
  font-weight: bold 

.our-centered
  text-align: center
