$green = #009A93
$yellow = #F9D510

.main
  transition all 0.4s ease-in-out
  -webkit-transition all 0.4s ease-in-out
  -moz-transition all 0.4s ease-in-out
  -o-transition all 0.4s ease-in-out
  left: 0%
  position absolute
  width 100%
  height 100%
  overflow scroll

.wrapper
  font-family "儷黑 Pro", "sans-serif", "LiHei Pro", "微軟正黑體", "新細明體";
  padding-top 39px

.right-page
  position absolute
  width 100%
  height 100%
  transition all 0.4s ease-in-out
  -webkit-transition all 0.4s ease-in-out
  -moz-transition all 0.4s ease-in-out
  -o-transition all 0.4s ease-in-out
  left 100%

.container
  padding 16vh 2vh

.container-top
  padding 2vh

@media (max-width: 979px)
  .container
    padding 16vh 2vh
  .container-top
    padding 2vh

@media (min-width: 980px)
  .container
    padding 16vh
  .container-top
    padding 2vh 16vh

.full-screen
  height 100%
  width 100%

.our-centered
  text-align: center

.img-bg
  color: #fff
  font-weight: bold 
  background-image url(res/cover.svg)
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover

.white-bg
  background-color White

.title-line
  margin 3vh 0
.sub-line
  margin 3vh 0 10vh 0

.vh10
  font-size: 10vh
.vh6
  font-size: 6vh
.vh5
  font-size: 5vh
.vh4-5
  font-size: 4.5vh
.vh4
  font-size: 4vh
.vh3
  font-size: 3vh
.vh2-5
  font-size: 2.5vh
.vh2
  font-size: 2vh
.vh1
  font-size: 1vh

.full-width
  width 100%

.none
  display none

.block
  display block

#header
  -webkit-border-radius 0px
  -moz-border-radius 0px
  border-radius 0px
  background-color $green

#menu-list
#before-login-setting-list
#after-login-setting-list
  z-index 1000
  !important

#map
  width 100%
  height 100%

#map-submit
  display none
  position absolute
  width 100%
  bottom 0
