extends main.jade

block main
  .wrapper.pusher.full-screen

    .container-top.our-centered.img-bg.full-screen
      .vh6.title-line 由於此平台還在開發中，如有任何問題歡迎聯絡以下此信箱
      .vh5.title-line lijopie.tw@gmail.com

//- vi:et:nowrap:sw=2:ts=2 
