doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='index.css')
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./') TCR
        .right.menu
          a.item(href='about.html') 關於
          a.item(href='contact.html') 聯絡我們
        
      .ui.page.center.aligned.grid#cover
        .column#cover-section
          #title 台南市違規停車檢舉平台
          #sub-title-1 Make Action!
          #sub-title-2 If You Really Care.
          a.ui.button.teal.massive(href="login.html") 我要檢舉! GO!
         
      .ui.page.center.aligned.grid#latest-report
          h2.ui.header 最新檢舉
          .doubling.four.column.row#latest-report-content
       
      .ui.page.grid#about-us
        


    script(src="js/app.js")
    script(src="index.js")
        

