#cover
  padding 30.1vh 0
  a
    margin-top: 6vh
    font-size: 4.5vh
    padding: 2vh 2vw

#video
  iframe
    height 60vh

@media (max-width: 979px)
  #video
    iframe
      width: 90%

@media (min-width: 980px)
  #video
    iframe
      width: 720px

#latest-report
  padding-top: 4rem
  padding-bottom: 4rem

.report-img
  width: 8rem
  height: 6rem

.report-img im
  width: 100%

