extends main.jade

block main
  .wrapper.pusher

    .container.our-centered.img-bg#cover
      .vh5 「這不是」台南市違規停車檢舉平台 
      .vh10 哩足歹! 立就拍!
      .vh4 Report illegal parking right away!
      a.ui.button.blue.massive(href='about.html') 不是？瞭解更多 
      a.ui.button.teal.massive(href='report.html') 我要檢舉 GO！

    .container.our-centered#features
      .vh6.title-line 第一次拍照檢舉就上手
      .vh4.sub-line 「立就拍」不是政府官方網站，而是協助引導您檢舉違規停車的小幫手
      .subcontainer
        .ui.grid
          .column
            .our-centered
              i.icon.clock.massive.blue
              .vh4.title-line 照片時間戳
            .vh3.title-line 檢舉照片需有時間戳警方才會接受審件，「立就拍」將貼心的幫你加上。
          .column
            .our-centered
              i.icon.send.massive.green
              .vh4.title-line 檢舉仲介者
              .vh3.title-line 「立就拍」是您與警方之間的違停檢舉中介者，代您傳達正義的力量。
          .column
            .our-centered
              i.icon.tasks.massive.pink
              .vh4.title-line 追蹤檢舉進度
            .vh3.title-line 透過「立就拍」，您可以查看檢舉紀錄，並追蹤檢舉進度與結果。

    .container.our-centered.img-bg#video
      .vh6.title-line 你有違規停車嗎？
      iframe(src="https://www.youtube.com/embed/n_d8pyMIeIo" frameborder="0" allowfullscreen)
      .vh6.title-line 改變社會，由你我做起

    .container.our-centered#hints
      .vh6.title-line 違停舉發 3 秘訣
      .subcontainer
        .ui.grid
          .column.our-centered
            .ui.segment
              img.full-width(src="res/car_head.jpg")
            .our-centered
              .ui.red.tag.label.massive 角度是關鍵
            .vh3.title-line
              | 「車牌」、「完整車身」、「車內無人」需一覽無遺，並至少拍照車頭與車尾「兩張」照片。
          .column
            .ui.segment
              img.full-width(src="res/evidence_obvious1.jpg")
            .our-centered
              .ui.blue.tag.label.massive 證據要明顯 
            .vh3.title-line
              | 「違規證據」請清楚呈現！光線不足善用閃光燈。
          .column
            .ui.segment
              img.full-width(src="res/moto.jpg")
            .our-centered
              .ui.orange.tag.label.massive 地點要切確
            .vh3.title-line
              | 檢舉違停的地點要切確，完整的「街道地址」尤佳，也可以利用商店等地標為參考來描述。
            
    .container.our-centered.img-bg#report
      .vh6.title-line 最新檢舉
      .subcontainer
        .ui.grid

    .ui.small.modal#detail
      i.close.icon
      .header 檢舉細節
      .content

block vars
  - var js = 'index'
  - var css = 'index'

//- vi:et:nowrap:sw=2:ts=2 
