#cover
  background-image: url(res/cover.svg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: #fff
  font-weight: bold


#title
  font-size: 5vh

#sub-title-1
  font-size: 10vh
  padding-top: 2vh

#sub-title-2
  font-size: 4.5vh
  padding-top: 2vh

#cover .button
  margin-top: 6vh
  font-size: 4.5vh
  padding: 2vh 2vw

#latest-report
  padding-top: 4rem
  padding-bottom: 4rem

.report-img
  width: 8rem
  height: 6rem

.report-img img
  width: 100%

