#title
  font-size: 5vh

#sub-title-1
  font-size: 10vh
  padding-top: 2vh

#sub-title-2
  font-size: 4.5vh
  padding-top: 2vh

#report-btn
  margin-top: 6vh
  font-size: 4.5vh
  padding: 2vh 2vw

@media (max-width: 979px)
  iframe
    width: 100%

@media (min-width: 980px)
  iframe
    width: 720px

#video
  padding-top: 4rem
  padding-bottom: 4rem
  background-color #EEE

#video-title
  font-size 6vh

#latest-report
  padding-top: 4rem
  padding-bottom: 4rem

.report-img
  width: 8rem
  height: 6rem

.report-img im
  width: 100%

