doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='index.css')
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item(href='about.html') 關於
          a.item(href='contact.html') 聯絡我們
        
      .ui.page.center.aligned.grid#cover
        .column#cover-section
          #title 台南市違規停車檢舉平台 
          #sub-title-1 哩足歹!立就拍!
          #sub-title-2 Report illegal parking right away!

          a.ui.button.teal.massive#report-btn 我要檢舉! GO!
         
      .ui.page.center.aligned.grid#latest-report
          h2.ui.header 最新檢舉
          .doubling.four.column.row#latest-report-content
       
      .ui.page.grid#about-us
        


    script(src="js/app.js")
    script(src="index.js")
        
