doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='index.css')
    link(rel="shortcut icon" href="res/favicon.ico")
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item(href='about.html') 關於
        
      .ui.page.center.aligned.grid.cover
        .column
          #title 台南市違規停車檢舉平台 
          #sub-title-1 哩足歹!立就拍!
          #sub-title-2 Report illegal parking right away!
          button.ui.button.teal.massive#report-btn 我要檢舉! GO!
      
      .ui.page.center.aligned.grid#video
        .column
          h1.ui.header#video-title 你有違規停車嗎？
          iframe(style="height: 60vh" src="https://www.youtube.com/embed/n_d8pyMIeIo" frameborder="0" allowfullscreen)
          h1.ui.header#video-title 改變社會，由你我做起

      .ui.page.center.aligned.grid#latest-report
        h1.ui.header.massive 最新檢舉
        .doubling.four.column.row#latest-report-content


    script(src="app.js")
    script(src="index.js")

//- vi:et:nowrap:sw=2:ts=2 
