extends main.jade

block main
  .wrapper.pusher.full-screen

    .container-top.img-bg.full-screen
      .ui.segment.form
        h1.ui.dividing.header 登入
        .field.username
          label 帳號
          input(type='text' placeholder='帳號')
        .field.password
          label 密碼
          input(type='password' placeholder='密碼')
        .ui.error.message
          .header 
        button.ui.button.teal 登入
        a.ui.button.red(href="./signup.html") 註冊
        a.ui.button.purple(href="./forgot.html") 忘記密碼

block vars
  - var js = 'login'

//- vi:et:nowrap:sw=2:ts=2 
