doctype html
block vars
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    if css
      link(rel='stylesheet' href='#{css}.css')
    link(rel='shortcut icon' href='res/favicon.ico')
  body
    .ui.menu.fixed.inverted.our-centered#header
      a.item(href='./') 哩足歹 立就拍
      .left.menu
        a.item#menu-btn
          i.icon.align.justify.large
      .right.menu
        a.item#setting-btn
          i.icon.setting.large
    .ui.left.vertical.inverted.labeled.icon.sidebar.menu#menu-list
      a.item(href='./')
        i.home.icon
        | 首頁
      a.item(href='about.html')
        i.heart.icon
        | 關於
      a.item(href='contact.html')
        i.mail.icon
        | 聯絡我們
    .ui.right.vertical.inverted.labeled.icon.sidebar.menu#before-login-setting-list
      a.item(href='login.html')
        i.sign.in.icon
        | 登入
      a.item(href='signup.html')
        i.edit.icon
        | 註冊
    .ui.right.vertical.inverted.labeled.icon.sidebar.menu#after-login-setting-list
      a.item(href='report.html')
        i.home.icon
        | 我要檢舉
      a.item(href='record.html')
        i.heart.icon
        | 檢舉紀錄
      a.item(href='personal.html')
        i.user.icon
        | 更改個人資料
      a.item#sign-out-btn
        i.sign.out.icon
        | 登出
    block main

    script(src='app.js')
    if js
      script(src='#{js}.js')

//- vi:et:nowrap:sw=2:ts=2 
