extends main.jade

block main
  .wrapper.pusher

    .container-top
      .vh5.title-line.our-centered 「立就拍」隱私說明

      .vh3.title-line 「立就拍」是一個非營利的組織，是由兩位學生所創辦的一個網路服務平台，用意只是為了提供台南市民有個好用的違停檢舉平台。關於資料隱私的問題我們相當的重視，相關說明詳見於以下。

      .ui.divider

      .vh4-5.title-line.our-centered 資料收集與使用

      .vh4.title-line 個人資料
      .vh3.title-line 「立就拍」所取得的個人資料包含識別個人資料之姓名、性別與信箱，其目的僅為了能提供個人化的檢舉紀錄管理服務，並方便系統通知使用者相關訊息之用。「立就拍」在此聲明，所取得之個人資料不會提供給第三人、或移作其他目的使用。

      .vh4.title-line 檢舉資料
      .vh3.title-line 使用者檢舉的資料將在匿名的清況下公開僅此而已，並可供使用者選擇檢舉資料是否公開。「立就拍」在此聲明，所有的檢舉資料僅以匿名的方式公開於網路上，並拒絕提供第三方檢舉來源者之個人資料，亦包含警方。

      .ui.divider

      .vh4-5.title-line.our-centered 隱私安全

      .vh4.title-line 加密技術
      .vh3.title-line 為保障檢舉帳號的隱私及安全，帳號之密碼將透過合理的加密技術進行編碼，以降低個人資料被竊取的風險。

      .vh4.title-line Cookie
      .vh3.title-line 「立就拍」使用 cookie 技術以便於提供所需要的服務；Cookie 是網站伺服器用來和會員瀏覽器進行溝通的一種技術，它可能在會員的電腦中隨機儲存字串，用以辨識區別使用者，並且在瀏覽器關掉後可能仍然保持登入的狀態，因此在不使用的時候請適時的登出，以免帳號遭他人使用。另外，若瀏覽器關閉 cookie 有可能將導致無法順利登入。

//- vi:et:nowrap:sw=2:ts=2 
