doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='record.css')
    link(rel="shortcut icon" href="res/favicon.ico")
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo 
         img(src="res/title_logo.png")
        .right.menu
          a.item(href='report.html') 我要檢舉
          a.item#logout 登出
      div(style="padding-top: 100px")
        table.ui.table
          thead
            tr
              th 檢舉照片
              th 檢舉時間
              th 處理狀態
              th 完成日期
          tbody
                  
    script(src="app.js")
    script(src="record.js")

//- vi:et:nowrap:sw=2:ts=2        
