doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='report.css')
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item#start-report 開始檢舉
      .ui.page.center.aligned.grid#container
        h1.ui.header#title 拍照舉發3秘訣
        p.ui.red.tag.label#tag 角度是關鍵
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/moto.jpg") 
        h3.ui.header 記得「汽車拍車頭,機車拍車尾」！最好整台車都拍進去！

        div.ui.section.divider

        a.ui.blue.tag.label#tag 證據要明顯 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h3.ui.header 注意要清楚拍到紅線、黃線等違規證據！車牌也要清晰易辨識！若在夜間、燈光昏暗的地方，要記得打開閃光燈！

        div.ui.section.divider

        a.ui.green.tag.label#tag 多照幾張不吃虧 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h3.ui.header 為避免違規車主申訴，可以多照幾張「不同角度」的違規證據提供警方！讓違規車主無話可說！

        div.ui.section.divider

        div(style="display: none")
          form#form(enctype="multipart/form-data" method="post")
            input#file-to-upload(type="file" capture="camera")
    .ui.modal#modal-progress
      i.close.icon
      .header 照片上傳進度
      .content
        .ui.progress.teal#progress
          .bar
          .label 0 %
    .ui.modal#modal-photo
      i.close.icon
      .header 檢舉相片確認
      .content
        .ui.median.image
          img#upload-photo(src='')
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 確定
    .ui.modal#modal-form
      i.close.icon
      .header 檢舉內容
      .content
        .ui.form
          .field
            select.ui.search.dropdown#region
              option(value="") 違規現場所在行政區
              option(value="新營區") 新營區
              option(value="鹽水區") 鹽水區
              option(value="柳營區") 柳營區
              option(value="白河區") 白河區
              option(value="東山區") 東山區
              option(value="後壁區") 後壁區
              option(value="麻豆區") 麻豆區
              option(value="下營區") 下營區
              option(value="六甲區") 六甲區
              option(value="官田區") 官田區
              option(value="佳里區") 佳里區
              option(value="西港區") 西港區
              option(value="七股區") 七股區
              option(value="學甲區") 學甲區
              option(value="北門區") 北門區
              option(value="將軍區") 將軍區
              option(value="善化區") 善化區
              option(value="安定區") 安定區
              option(value="大內區") 大內區
              option(value="新市區") 新市區
              option(value="新化區") 新化區
              option(value="山上區") 山上區
              option(value="左鎮區") 左鎮區
              option(value="仁德區") 仁德區
              option(value="歸仁區") 歸仁區
              option(value="關廟區") 關廟區
              option(value="龍崎區") 龍崎區
              option(value="玉井區") 玉井區
              option(value="楠西區") 楠西區
              option(value="南化區") 南化區
              option(value="永康區") 永康區 
              option(value="東區") 東區
              option(value="中西區") 中西區
              option(value="安平區") 安平區
              option(value="北區") 北區
              option(value="南區") 南區
              option(value="安南區") 安南區
          .field
            .ui.selection.dropdown#theme
              .default.text 請選擇違規內容
              i.dropdown.icon 
              input(type="hidden" name="違規內容")
              .menu
                .item 紅線停車
                .item 黃線停車
                .item 公車站牌10公尺內停車
                .item 交叉路口10公尺內停車
                .item 行人穿越道10公尺內停車
                .item 黃線併排
                .item 紅線併排
                .item 消防栓前停車
                .item 彎道停車
                .item 人行道停車
                .item 停在殘障車位
                .item 窄巷內停車
          .field
            label 違規內容補充(ex.車內無人、明確地址...等更加詳細的描述)
            textarea
          .field
            .ui.toggle.checkbox#checkbox
              input(type="checkbox")
              label 匿名將檢舉上傳網路平台
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 確定
    .ui.modal#modal-verify
      i.close.icon
      .header 檢舉資料確認
      .content
        .ui.header wfewfwef
        .ui.header wfewfwef
        .ui.header wfewfwef
        .ui.header wfewfwef
        .ui.header wfewfwef
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 送出
    .ui.modal#modal-submit
      i.close.icon
      .header 檢舉成功
      .content
        thank for reporting
      .actions
        .ui.button.teal.approve 確定

    script(src="app.js")
    script(src="report.js")

//- vi:et:nowrap:sw=2:ts=2        
