doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='report.css')
    link(rel="shortcut icon" href="res/favicon.ico")
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item#start-report 開始檢舉
          a.item#logout 登出
      .ui.page.center.aligned.grid#container
        h1.ui.header#title 拍照舉發3秘訣
        p.ui.red.tag.label#tag 角度是關鍵
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/moto.jpg") 
        h3.ui.header 記得「汽車拍車頭,機車拍車尾」！最好整台車都拍進去！

        div.ui.section.divider

        a.ui.blue.tag.label#tag 證據要明顯 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h3.ui.header 注意要清楚拍到紅線、黃線等違規證據！車牌也要清晰易辨識！若在夜間、燈光昏暗的地方，要記得打開閃光燈！

        div.ui.section.divider

        a.ui.green.tag.label#tag 多照幾張不吃虧 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h3.ui.header 為避免違規車主申訴，可以多照幾張「不同角度」的違規證據提供警方！讓違規車主無話可說！

        div.ui.section.divider

        div(style="display: none")
          form#form(enctype="multipart/form-data" method="post")
            input#file-to-upload(type="file" capture="camera")
    .ui.modal#modal-progress
      .header 照片上傳進度
      .content
        .ui.progress.teal#progress
          .bar
          .label 0 %
    .ui.modal#modal-photo
      .header 檢舉相片確認
      .content
        .ui.median.image
          img#upload-photo(src='')
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 確定
    .ui.modal#modal-form
      .header 檢舉內容
      .content#region
        .ui.form
          .field
            label 違規所在行政區
            select(name="region").ui.search.dropdown
              option(value="") 違規現場所在行政區
              option(value="1") 東區
              option(value="2") 北區
              option(value="3") 南區
              option(value="4") 中西區
              option(value="5") 安南區
              option(value="6") 安平區
              option(value="7") 七股區
              option(value="8") 下營區
              option(value="9") 仁德區
              option(value="10") 佳里區
              option(value="11") 六甲區
              option(value="12") 北門區
              option(value="13") 南化區
              option(value="14") 善化區
              option(value="15") 大內區
              option(value="16") 學甲區
              option(value="17") 安定區
              option(value="18") 官田區
              option(value="19") 將軍區
              option(value="20") 山上區
              option(value="21") 左鎮區
              option(value="22") 後壁區
              option(value="23") 新化區
              option(value="24") 新市區
              option(value="25") 新營區
              option(value="26") 東山區
              option(value="27") 柳營區
              option(value="28") 楠西區
              option(value="29") 歸仁區
              option(value="30") 永康區
              option(value="31") 玉井區 
              option(value="32") 白河區
              option(value="33") 西港區
              option(value="34") 關廟區
              option(value="35") 鹽水區
              option(value="36") 麻豆區
              option(value="37") 龍崎區
          .field#theme
            label 違規內容
            .ui.selection.dropdown
              .default.text 請選擇違規內容
              i.dropdown.icon 
              input(type="hidden" name="theme")
              .menu
                .item(data-value="1") 紅線停車
                .item(data-value="2") 黃線停車
                .item(data-value="3") 公車站牌10公尺內停車
                .item(data-value="4") 交叉路口10公尺內停車
                .item(data-value="5") 行人穿越道10公尺內停車
                .item(data-value="6") 黃線併排
                .item(data-value="7") 紅線併排
                .item(data-value="8") 消防栓前停車
                .item(data-value="9") 彎道停車
                .item(data-value="10") 人行道停車
                .item(data-value="11") 停在殘障車位
          .field#content
            label 違規內容補充(ex.車內無人、明確地址...等更加詳細的描述)
            textarea
          .field#anonymous
            .ui.toggle.checkbox
              input(type="checkbox" name="anonymous")
              label 是否匿名檢舉
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 確定
    .ui.modal.small#modal-submit
      .header 檢舉成功
      .content
        .image
          i.checkmark.green.large.icon
        .description
          .ui.header.large.our-centered 感謝您的檢舉。
      .actions
        .ui.button.teal.approve 確定

    script(src="app.js")
    script(src="report.js")

//- vi:et:nowrap:sw=2:ts=2        
