doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='report.css')
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item#start-report 開始檢舉
      .ui.page.center.aligned.grid#container
        h1.ui.header#title 檢舉必勝3重點
        p.ui.red.tag.label#tag 角度是關鍵
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h4.ui.header 想要檢舉成功，一定要掌握好拍照的角度喔！要記得「汽車拍車頭、機車拍車尾」

        div.ui.section.divider

        a.ui.blue.tag.label#tag 證據要明顯 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h4.ui.header 注意要清楚拍到紅線、黃線等違規證據! 若在夜間、燈光昏暗的地方，要記得打開閃光燈

        div.ui.section.divider

        a.ui.blue.tag.label#tag 證據要明顯 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h4.ui.header 注意要清楚拍到紅線、黃線等違規證據! 若在夜間、燈光昏暗的地方，要記得打開閃光燈

        div.ui.section.divider

        div(style="display: none")
          form#form(enctype="multipart/form-data" method="post")
            input#file-to-upload(type="file" capture="camera")
    .ui.modal#modal-progress
      i.close.icon
      .header 照片上傳進度
      .content
        .ui.progress.teal#example1(data-percent='75')
          .bar
          .label 75 %
      .actions
        .ui.button.red 取消

    script(src="app.js")
    script(src="report.js")

//- vi:et:nowrap:sw=2:ts=2        
