doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='report.css')
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item#start-report 開始檢舉
      .ui.page.center.aligned.grid#container
        h1.ui.header#title 拍照舉發3秘訣
        p.ui.red.tag.label#tag 角度是關鍵
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/moto.jpg") 
        h3.ui.header 記得「汽車拍車頭,機車拍車尾」！最好整台車都拍進去！

        div.ui.section.divider

        a.ui.blue.tag.label#tag 證據要明顯 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h3.ui.header 注意要清楚拍到紅線、黃線等違規證據！車牌也要清晰易辨識！若在夜間、燈光昏暗的地方，要記得打開閃光燈！

        div.ui.section.divider

        a.ui.green.tag.label#tag 多照幾張不吃虧 
        .three.column.centered.row
          .column
            img(src="res/car_head.jpg")
          .column
            img(src="res/car_head.jpg") 
        h3.ui.header 為避免違規車主申訴，可以多照幾張「不同角度」的違規證據提供警方！讓違規車主無話可說！

        div.ui.section.divider

        div(style="display: none")
          form#form(enctype="multipart/form-data" method="post")
            input#file-to-upload(type="file" capture="camera")
    .ui.modal#modal-progress
      i.close.icon
      .header 照片上傳進度
      .content
        .ui.progress.teal#progress
          .bar
          .label 0 %
    .ui.modal#modal-verify
      i.close.icon
      .header 檢舉相片確認
      .content
        .ui.median.image
          img#upload-photo(src='')
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 確定
    .ui.modal#modal-form
      i.close.icon
      .header 檢舉內容
      .content
        .ui.form
          .field
            .ui.selection.dropdown
              .default.text 請選擇違規內容
              i.dropdown.icon 
              input(type="hidden" name="違規內容")
              .menu
                .item 紅線停車
                .item 黃線停車
                .item 公車站牌10公尺內停車
                .item 交叉路口10公尺內停車
                .item 行人穿越道10公尺內停車
                .item 黃線併排
                .item 紅線併排
                .item 消防栓前停車
                .item 彎道停車
                .item 人行道停車
                .item 停在殘障車位
                .item 窄巷內停車
          .field
            input(type="text")
          .field
            input(type="text")
          .field
            input(type="text")
          .field
            input(type="text")
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 確定
    .ui.modal#modal-ready
      i.close.icon
      .header 檢舉資料填寫
      .content
        .ui.header wfewfwef
        .ui.header wfewfwef
        .ui.header wfewfwef
        .ui.header wfewfwef
        .ui.header wfewfwef
      .actions
        .ui.button.red.deny 取消
        .ui.button.green.approve 確定

    script(src="app.js")
    script(src="report.js")

//- vi:et:nowrap:sw=2:ts=2        
