#cover
  background-image: url(res/cover.svg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: #fff
  font-weight: bold


#cover .button
  margin-top: 6vh
  font-size: 4.5vh
  padding: 2vh 2vw
