extends main.jade

block main
  .wrapper.pusher

    .container-top
      .ui.segment.form
        h1.ui.dividing.header 註冊
        .field.name
          label 姓名
          input(type='text' placeholder='姓名')
        .field.gender
          label 性別
          .ui.selection.dropdown
            .default.text 性別
            i.dropdown.icon
            input(type="hidden" name="gender")
            .menu
              .item(data-value="0") 女
              .item(data-value="1") 男
              .item(data-value="2") 其他
        .field.email
          label 電子信箱
          input(type='email' placeholder='電子信箱')
        .field.username
          label 帳號
          input(type='text' placeholder='帳號')
        .field.password
          label 密碼
          input(type='password' placeholder='密碼')
        .field.verify
          label 重新輸入密碼
          input(type='password' placeholder='重新輸入密碼')
        .ui.error.message
          .header 
        button.ui.button.teal 註冊
  .ui.page.dimmer
    .content
      .center
        i.checkmark.green.massive.icon
        .ui.green.huge.header 註冊成功

block vars
  - var js = 'signup'

//- vi:et:nowrap:sw=2:ts=2 
