doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 台南市違規停車檢舉平台
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='start.css')
  body
    .wrapper
      .ui.menu.fixed.inverted#header
        a.item(href='./')#title_logo
          img(src="res/title_logo.png")
        .right.menu
          a.item(href='about.html') 我的檢舉
          a.item(href='contact.html') 聯絡我們
      .ui.page.center.aligned.grid#container
        h1.ui.header#title 檢舉必勝3重點
        a.ui.red.tag.label#tag 角度是關鍵
        h4.ui.header 想要檢舉成功，一定要掌握好拍照的角度喔！
            要記得「汽車拍車頭、機車拍車尾」
        img.five.wide.column.ui.medium.bordered.image(src="res/car_head.jpg")
        img.five.wide.column.ui.medium.bordered.image(src="res/car_head.jpg") 
        div.ui.section.divider
        a.ui.blue.tag.label#tag 證據要明顯 
        h4.ui.header 注意要清楚拍到紅線、黃線等違規證據!
          若在夜間、燈光昏暗的地方，要記得打開閃光燈

//- vi:et:nowrap:sw=2:ts=2        
